# ================================
# AWS Configuration Template
# ================================

# Your AWS Access Key ID
AWS_ACCESS_KEY_ID=

# Your AWS Secret Access Key
AWS_SECRET_ACCESS_KEY=

# AWS Default Region
AWS_DEFAULT_REGION=us-west-2

# Optional (usually same as default region)
AWS_REGION=us-west-2
